[Desktop Entry]
Type=Application
Name=@TARGET@
Exec=@TARGET@
Icon=@TARGET@
Comment=@CMAKE_PROJECT_DESCRIPTION@
Categories=Utility;
Name[tr_TR]=icon.desktop
